<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blockchain.mapper.EncryptFilesMapper">
    
    <resultMap type="EncryptFiles" id="EncryptFilesResult">
    	<id     property="id"      column="id"      />
        <result property="fileName"    column="file_name"    />
        <result property="localAddress"     column="local_address"     />
        <result property="fileAddress"     column="file_address"     />
        <result property="uploadedBy"   column="uploaded_by"   />
        <result property="belongingPerson"    column="belonging_person"    />
        <result property="recipient"      column="recipient"      />
        <result property="acceptState"    column="accept_state"    />
        <result property="fileStatus"      column="file_status"      />
        <result property="fileHash"      column="file_hash"      />
        <result property="fileHashEncry"      column="file_hash_encry"      />
        <result property="blockData"      column="block_data"      />
        <result property="blockDataEncry"      column="block_data_encry"      />
    </resultMap>

    <resultMap type="EncryptFiles" id="EncryptFilesAllResult">
        <id     property="id"      column="id"      />
        <result property="fileName"    column="file_name"    />
        <result property="localAddress"     column="local_address"     />
        <result property="fileAddress"     column="file_address"     />
        <result property="uploadedBy"   column="uploaded_by"   />
        <result property="belongingPerson"    column="belonging_person"    />
        <result property="recipient"      column="recipient"      />
        <result property="acceptState"    column="accept_state"    />
        <result property="fileStatus"      column="file_status"      />
        <result property="encryptionResults"      column="encryption_results"      />
        <result property="fileHash"      column="file_hash"      />
        <result property="fileHashEncry"      column="file_hash_encry"      />
        <result property="blockData"      column="block_data"      />
        <result property="blockDataEncry"      column="block_data_encry"      />
    </resultMap>
    
    <sql id="selectList">
        id, file_name, local_address, file_address, uploaded_by, belonging_person, recipient, accept_state, file_status, file_hash, file_hash_encry, block_data, block_data_encry
    </sql>

    
    <select id="selectEncryptionFileList" parameterType="encryptFiles" resultMap="EncryptFilesResult">
        select id, file_name, local_address, uploaded_by, belonging_person, recipient, accept_state, file_status, file_hash, file_hash_encry from encrypt_files
        <where>
            <if test="uploadedBy != null and uploadedBy != ''">
                and uploaded_by = #{uploadedBy}
            </if>
            <if test="belongingPerson != null and belongingPerson != ''">
                and belonging_person = #{belongingPerson}
            </if>
            <if test="recipient != null and recipient != ''">
                and recipient = #{recipient}
            </if>
        </where>
    </select>


    <insert id="saveEncryptFiles" parameterType="encryptFiles">
        insert into encrypt_files(
        <if test="fileName != null and fileName != ''">file_name,</if>
        <if test="localAddress != null and localAddress != ''">local_address,</if>
        <if test="fileAddress != null and fileAddress != ''">file_address,</if>
        <if test="uploadedBy != null and uploadedBy != ''">uploaded_by,</if>
        <if test="belongingPerson != null and belongingPerson != ''">belonging_person,</if>
        <if test="recipient != null and recipient != ''">recipient,</if>
        accept_state,
        file_status,
        <if test="encryptionResults != null and encryptionResults != ''">encryption_results,</if>
        <if test="fileHash != null and fileHash != ''">file_hash,</if>
        <if test="fileHashEncry != null and fileHashEncry != ''">file_hash_encry</if>
        )values(
        <if test="fileName != null and fileName != ''">#{fileName},</if>
        <if test="localAddress != null and localAddress != ''">#{localAddress},</if>
        <if test="fileAddress != null and fileAddress != ''">#{fileAddress},</if>
        <if test="uploadedBy != null and uploadedBy != ''">#{uploadedBy},</if>
        <if test="belongingPerson != null and belongingPerson != ''">#{belongingPerson},</if>
        <if test="recipient != null and recipient != ''">#{recipient},</if>
        #{acceptState},
        #{fileStatus},
        <if test="encryptionResults != null and encryptionResults != ''">#{encryptionResults},</if>
        <if test="fileHash != null and fileHash != ''">#{fileHash},</if>
        <if test="fileHashEncry != null and fileHashEncry != ''">#{fileHashEncry}</if>
        )
    </insert>

    <select id="selectById" resultMap="EncryptFilesAllResult">
        select <include refid="selectList"/>,encryption_results from encrypt_files where id = #{id} limit 1
    </select>

    <update id="updateToAcceptState" parameterType="encryptFiles">
        update encrypt_files set accept_state = #{acceptState},belonging_person = #{belongingPerson} where id = #{id} and accept_state = 0
    </update>

    <update id="updateEncryptFiles" parameterType="encryptFiles">
        update encrypt_files
        <set>
            <if test="recipient != null and recipient != ''">recipient = #{recipient},</if>
<!--            <if test="encryptionResults != null and encryptionResults != ''">encryption_results = #{encryptionResults},</if>-->
            <if test="fileHash != null and fileHash != ''">file_hash = #{fileHash},</if>
            <if test="fileHashEncry != null and fileHashEncry != ''">file_hash_encry = #{fileHashEncry},</if>
            accept_state = #{acceptState}
        </set>
        where id = #{id}
    </update>

    <update id="updateToBlock" parameterType="encryptFiles">
        update encrypt_files
        <set>
            <if test="blockData != null and blockData != ''">block_data = #{blockData},</if>
            <if test="blockDataEncry != null and blockDataEncry != ''">block_data_encry = #{blockDataEncry}</if>
        </set>
        where id = #{id}
    </update>


    <select id="selectCaseList" parameterType="com.ruoyi.travel.domain.TabCase" resultType="com.ruoyi.travel.domain.TabCase">
        select * from tab_case
        <where>
            <if test="title != null and title != ''">
                and title like concat('%', #{title}, '%')
            </if>
        </where>
    </select>



    <insert id="saveCase" parameterType="com.ruoyi.travel.domain.TabCase">
        insert into tab_case(
            <if test="digitalevidence != null and digitalevidence != ''">digitalevidence,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="owner != null and owner != ''">owner</if>
        )values(
            <if test="digitalevidence != null and digitalevidence != ''">#{digitalevidence},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="owner != null and owner != ''">#{owner}</if>
        )
    </insert>

    <update id="updateTabCaseByHash" parameterType="com.ruoyi.travel.domain.TabCase">
        update tab_case
        <set>
            <if test="digitalevidence != null and digitalevidence != ''">digitalevidence = #{digitalevidence},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="owner != null and owner != ''">owner = #{owner}</if>
        </set>
        where digitalevidence = #{filehash}
    </update>

    <update id="updateCase" parameterType="com.ruoyi.travel.domain.TabCase">
        update tab_case
        <set>
            title = #{title},
            forensic = #{forensic},
            forensictool = #{forensictool},
            serialnumber = #{serialnumber}
        </set>
        where serialnumber = #{serialnumber}
    </update>
</mapper>