<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.travel.mapper.AttractionsUserMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.travel.domain.AttractionsUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="attractionsId" column="attractions_id" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,attractions_id,
        create_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from attractions_user
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from attractions_user
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.travel.domain.AttractionsUser" useGeneratedKeys="true">
        insert into attractions_user
        ( id,user_id,attractions_id
        ,create_date)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{attractionsId,jdbcType=INTEGER}
        ,#{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.travel.domain.AttractionsUser" useGeneratedKeys="true">
        insert into attractions_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="attractionsId != null">attractions_id,</if>
                <if test="createDate != null">create_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="attractionsId != null">#{attractionsId,jdbcType=INTEGER},</if>
                <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.travel.domain.AttractionsUser">
        update attractions_user
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="attractionsId != null">
                    attractions_id = #{attractionsId,jdbcType=INTEGER},
                </if>
                <if test="createDate != null">
                    create_date = #{createDate,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.travel.domain.AttractionsUser">
        update attractions_user
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            attractions_id =  #{attractionsId,jdbcType=INTEGER},
            create_date =  #{createDate,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>


    <delete id="deleteByUserId" parameterType="com.ruoyi.travel.domain.AttractionsUser">
        delete from attractions_user
        where  user_id = #{userId,jdbcType=INTEGER} and
            attractions_id =  #{attractionsId,jdbcType=INTEGER}
    </delete>

    <select id="selectByUserId" parameterType="com.ruoyi.travel.domain.AttractionsUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from attractions_user
        where  user_id = #{userId,jdbcType=INTEGER} and
        attractions_id =  #{attractionsId,jdbcType=INTEGER} limit 1
    </select>
</mapper>
